# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  [push, pull_request]
  # push:
    # branches: [ master ]
  # pull_request:
    # branches: [ master ]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [11.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci && npm install discord.js
    - name: Run tests, generate coverage
      run: npm run test-coverage
    # - name: Publish code coverage
    #   uses: paambaati/codeclimate-action@v2.5.4
    #   env:
    #     CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
    #   with:
    #     coverageCommand: npm run test-coverage
    #     coverageLocations:
    #       "./coverage/lcov.info:lcov"
    #     debug: true
  lint:
    name: ESLint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [11.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run lint
      env:
        CI: true
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [11.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run prepare
      env:
        CI: true
